
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Add author form
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="" method="POST">
                            <div class="form-group">
                                <label>Book Name</label>
                                <input name="bookName" placeholder="Book Name" class="form-control"/>
                                <ul class="borrow-panel">
                                   <li>Book1</li>
                                   <li>Book1</li>
                                   <li>Book1</li>
                                   <li>Book1</li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>